<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GPT Novel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">GPT Novel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('index') }}"
                >로그인</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('paramset') }}">파라미터</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('novel') }}">생성결과</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <img
      src="{{ url_for('static', filename='img/openai.png') }}"
      class="img_profile"
    />
    <h4 class="main_title_profile">GPT-4 Novel Service</h4>

    <div class="main-bg">
      <button id="login" class="btn btn-danger loginbtn">Login</button>
    </div>

    <div class="black-bg">
      <div class="white-bg">
        <h4>login</h4>
        <form action="{{ url_for('paramset') }}" , method="POST">
          <div class="my-3">
            <input type="text" class="form-control" id="userid" />
          </div>
          <div class="my-3">
            <input type="password" class="form-control" id="userpw" />
          </div>
          <button type="submit" class="btn btn-primary">전송</button>
          <button type="button" class="btn btn-danger" id="close">닫기</button>
        </form>
      </div>
    </div>

    <script>
      $("#login").on("click", function () {
        $(".black-bg").addClass("show-modal");
      });

      $("#close").on("click", function () {
        $(".black-bg").removeClass("show-modal");
      });
    </script>
  </body>
</html>
